apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.service }}
  labels:
    {{- include "ipaffs-common.labels" . | nindent 4 }}
data:
  ENVIRONMENT: "{{ .Values.environment }}"
{{- range $databaseName := .Values.database.databaseNames }}
{{- $db := dict "databaseName" $databaseName "Values" $.Values "Release" $.Release }}
  DATABASE_DB_CONNECTION_STRING_{{ upper (snakecase $databaseName) }}: "jdbc:sqlserver://{{ template "ipaffs-common.azure.sqlServerHostname" $db }}:1433;databaseName={{ template "ipaffs-common.azure.databaseName" $db }};encrypt=true;socketTimeout=1800000;loginTimeout=15;authentication=ActiveDirectoryManagedIdentity;msiClientId={{ $.Values.azure.clientId }}"
{{- end }}
{{- range $key, $val := .Values.config }}
  {{ $key }}: "{{ $val }}"
{{- end }}

# vim: set ts=2 sts=2 sw=2 et:
