apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.service }}
  labels:
    {{- include "ipaffs-common.labels" . | nindent 4 }}
data:
  ENVIRONMENT: "{{ .Values.environment }}"
{{- range $key, $val := .Values.config }}
  {{ $key }}: "{{ $val }}"
{{- end }}

# vim: set ts=2 sts=2 sw=2 et:
