apiVersion: managedidentity.azure.com/v1api20230131
kind: UserAssignedIdentity
metadata:
  name: {{ template "deploy.azure.managedIdentityBaseName" . }}-service
  annotations:
    serviceoperator.azure.com/reconcile-policy: manage
spec:
  location: uksouth
  owner:
    name: {{ template "deploy.azure.resourceGroup" . }}
  operatorSpec:
    configMapExpressions:
      - name: managed-identity
        key: clientId
        value: self.status.clientId
      - name: managed-identity
        key: principalId
        value: self.status.principalId

---
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    azure.workload.identity/client-id: "MAGIC CLIENT ID"
  name: {{ .Release.Name }}-service

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}
  labels:
    {{- include "deploy.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "deploy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "deploy.labels" . | nindent 8 }}
    spec:
      imagePullSecrets:
        - name: ipaffs-acr
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.container.image }}"
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{ with .Values.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{ end }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{ with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{ end }}
      {{ if .Values.initContainer.enabled -}}
      initContainers:
        - name: {{ .Chart.Name }}-init
          image: "{{ .Values.initContainer.image }}"
          command: {{ .Values.initContainer.command }}
      {{ end }}
