apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    {{- include "ipaffs-common.labels" . | nindent 4 }}
  annotations:
    azure.workload.identity/client-id: {{ .Values.azure.clientId }}
  name: {{ .Values.service }}-service

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.service }}
  labels:
    {{- include "ipaffs-common.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "ipaffs-common.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "ipaffs-common.labels" . | nindent 8 }}
        azure.workload.identity/use: "true"
    spec:
      serviceAccountName: {{ .Values.service }}-service
      shareProcessNamespace: true
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.container.image }}"
          {{- if .Values.container.command }}
          command: ["{{ .Values.container.command }}"]
          {{- end }}
          {{- if .Values.container.args }}
          args:
            {{- range .Values.container.args }}
            - "{{ . }}"
            {{- end }}
          {{- end }}
          imagePullPolicy: {{ .Values.container.imagePullPolicy }}
          envFrom:
            - configMapRef:
                name: ipaffs-config
            - configMapRef:
                name: {{ .Values.service }}
            {{- if .Values.externalSecret.enabled }}
            - secretRef:
                name: {{ printf "%s-secrets" .Values.service }}
                optional: true
            {{- end }}
            {{- if .Values.redis.enabled }}
            - secretRef:
                name: {{ printf "%s-redis" .Values.service }}
            {{- end }}
            {{- if .Values.serviceBus.enabled }}
            - secretRef:
                name: {{ printf "%s-servicebus" .Values.service }}
            {{- end }}
          env:
            - name: MANAGED_IDENTITY_USER
              value: "{{ .Values.database.principalName }}"
          {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- if .Values.azure.adalBridge }}
      initContainers:
        - name: workload-identity-adal-bridge
          image: "manicminer/workload-identity-adal-bridge:0.4.1"
          restartPolicy: Always
          env:
            - name: LOG_LEVEL
              value: "info"
      {{- end }}

# vim: set ts=2 sts=2 sw=2 et:
