# TODO!
# deploy app! --> start pipeline
# pipeline step: migrations MI needs to be created and added to a group (DONE)
# pipeline step: service MI to be created
# pipeline step: then helm chart installation starts (DONE)
# hook 1 (preinstall,preupgrade): run migrations which uses the migrations MI created in pipeline, then terminates (DONEish)
# hook 2 (preinstall,preupgrade): create an app MI, store clientid in configmap (PENDING)
# main helm install: adopt the service MI, deploy the app, include lookup for clientid from configmap (DONEish)
# pipeline step: delete the migrations MI (PENDING)
#
# ... time passes
#
# something triggers helm uninstall to delete the service
# main helm uninstall: things get shot
# hook 3 (post-delete): job that runs kubectl to delete hook 2 (app MI) (PENDING)
#
#
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    {{- include "ipaffs-common.labels" . | nindent 4 }}
  annotations:
    azure.workload.identity/client-id: {{ .Values.azure.clientId }}
  name: {{ .Values.service }}-service

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.service }}
  labels:
    {{- include "ipaffs-common.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "ipaffs-common.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "ipaffs-common.labels" . | nindent 8 }}
      annotations:
        azure.workload.identity/use: "true"
    spec:
      serviceAccountName: {{ .Values.service }}-service
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.container.image }}"
          {{ if .Values.container.command }}
          command: ["{{ .Values.container.command }}"]
          {{ end }}
          {{ if .Values.container.args }}
          args:
            {{ range .Values.container.args }}
            - "{{ . }}"
            {{ end }}
          {{ end }}
          imagePullPolicy: {{ .Values.container.imagePullPolicy }}
          envFrom:
            - configMapRef:
                name: ipaffs-config
            - configMapRef:
                name: {{ .Values.service }}
{{- if .Values.externalSecret.enabled }}
            - secretRef:
                name: {{ printf "%s-secrets" .Values.service }}
{{- end }}
{{- if .Values.redis.enabled }}
            - secretRef:
                name: {{ printf "%s-redis" .Values.service }}
{{- end }}
{{- if .Values.serviceBus.enabled }}
            - secretRef:
                name: {{ printf "%s-servicebus" .Values.service }}
{{- end }}
          {{ with .Values.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{ end }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- if .Values.azure.adalBridge }}
        - name: workload-identity-adal-bridge
          image: "manicminer/workload-identity-adal-bridge:0.1.0"
        {{- end }}
      {{ if .Values.initContainer.enabled -}}
      initContainers:
        - name: {{ .Chart.Name }}-init
          image: "{{ .Values.initContainer.image }}"
          command: {{ .Values.initContainer.command }}
      {{ end }}

# vim: set ts=2 sts=2 sw=2 et:
