apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service }}
  labels:
    {{- include "ipaffs-common.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "ipaffs-common.selectorLabels" . | nindent 4 }}

# vim: set ts=2 sts=2 sw=2 et:
