project: ipaffs
environment: poc

container:
  image: ""
  imagePullPolicy: Always
  replicas: 1

livenessProbe:
  httpGet:
    path: /admin/health
    port: 8000
  initialDelaySeconds: 10
  periodSeconds: 5

initContainer:
  enabled: false
  image: ""
  command: ""

azure:
  location: uksouth

database:
  enabled: false
  migrations:
    clientId: ""
    enabled: false
    image: ""
    command: ""

# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  annotations: 
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    #ingress.kubernetes.io/proxy-headers: X-Original-Host
    #ingress.kubernetes.io/custom-request-headers: X-Original-Host:proxy.imp.dev.azure.defra.cloud
    #traefik.ingress.kubernetes.io/router.middlewares: kube-system/original-host
  hosts: []

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

redis:
  enabled: true

serviceBus:
  enabled: false
  queues: []
  topics: []

# vim: set ts=2 sts=2 sw=2 et:
